<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>International Workshop on Communication Aspects for Internet of Nano Things (IoNT)</title>
  <!-- Bootstrap CSS -->
  <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- Custom CSS -->
  <link href="../style.css" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="container_logo">
          <div class="logo navbar-brand">
            <h1><a href="../index.html">WaveConnect: IoNTWave Workshop</a></h1>
          </div>
          
          <ul class="nav_menu" id="menu">
            <li><a href="./home.html">Home</a></li>
            <li><a href="./scope.html">Scope</a></li>
            <li><a href="./topics.html">Topics of Interest</a></li>
            <li><a href="./important_date.html">Important Dates</a></li>
            <li><a href="./committees.html">Committees</a></li>
          </ul>
        </div>
      </nav>
      <div class="container main-content">
        <h2 id="Date" class="Important-dates">Important dates</h2>
        <div class="Important-content">
        <ul class="Important-list">
            <li><span class="Important-date">Paper Submission: </span> February 25, 2024</li>
            <li><span class="Important-date">Acceptance Notification: </span> March 8, 2024</li>
            <li><span class="Important-date">Camera Ready Deadline: </span>March 29, 2024</li>
        </ul>
        </div>
    </div>

  <!-- footer code -->
  <footer>
    <div class="footer-content">
        <p>&copy; 2024 International Workshop on Communication Aspects for Internet of Nano Things (IoNT)</p>
    </div>
</footer>

  <!-- JavaScript for Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
